@model ReviewViewModel

<!-- Display Comments and Ratings -->
<h2> Comments And Ratings</h2>
@if (Model.Comments != null && Model.Ratings != null && Model.Comments.Count > 0 && Model.Ratings.Count > 0)
{
    <section>
        @for (int i = 0; i < Model.Comments.Count; i++)
        {
            <div class="user-review">
                <!-- Display Stars -->
                <div>@Model.NamesOfUsers[i]</div>
                <div class="star-container-display">
                    <div class="container__items">
                        @for (int j = 5; j >= 1; j--)
                        {
                            if (j == Model.Ratings[i].Rating)
                            {
                                <input type="radio" name="Rating_@(i+1)" id="st@(j)_@(i+1)" value="@(j)" checked>
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                            }
                            else
                            {
                                <input type="radio" name="Rating_@(i+1)" id="st@(j)_@(i+1)" value="@(j)">
                                <div class="star-stroke">
                                    <div class="star-fill"></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- Display Comment -->
                <div class="text-dark">@Model.Comments[i].Comment</div>
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ReviewModal" @(Model.IsEditBtnHidden?[i] == true ? "hidden" : "")>
                        Edit
                    </button>
                </div>
            </div>
        }
    </section>
}
else
{
    <section>
        <div>
            <p>Be the first one to add a review for this movie!<p />
        </div>
    </section>
}
