@model DetailsViewModel

@if (Model.Movie.MovieId != null)
{
    <h1>@Model.Movie.Title</h1>

    <div>
        <hr />
        <a asp-action="Download" asp-route-movieId="@Model.Movie.MovieId.Substring(6)" class="btn btn-primary">Download</a>

        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Movie.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Genre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Movie.Genre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.AvgRating)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Movie.AvgRating)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.NumOfRatings)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Movie.NumOfRatings)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.ReleasedDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Movie.ReleasedDate)
            </dd>
        </dl>
    </div>
   
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ReviewModal">
        Add Review
    </button>
    <div>
        <!--Review Section (Comments and Ratings)-->
        <partial name="_ReviewsPartial" model="Model.ReviewViewModel">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ReviewModal" tabindex="-1" aria-labelledby="ReviewModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Share to the world your review for <strong>@(Model.Movie.Title)</strong></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*Review recieves a ReviewViewModel as parameter*@
                    <form asp-action="Review" method="post" asp-route-movieId="@Model.Movie.MovieId">
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" id="Comment" asp-for="Comment" required></textarea>
                        </div>
                        <div class="form-group">
                            <div class="star-container">
                                <div class="container__items">
                                    <input type="radio" name="Rating" id="st5" value="5">
                                    <label for="st5">
                                        <div class="star-stroke">
                                            <div class="star-fill"></div>
                                        </div>
                                        <div class="label-description" data-content="Excellent"></div>
                                    </label>
                                    <input type="radio" name="Rating" id="st4" value="4">
                                    <label for="st4">
                                        <div class="star-stroke">
                                            <div class="star-fill"></div>
                                        </div>
                                        <div class="label-description" data-content="Good"></div>
                                    </label>
                                    <input type="radio" name="Rating" id="st3" value="3">
                                    <label for="st3">
                                        <div class="star-stroke">
                                            <div class="star-fill"></div>
                                        </div>
                                        <div class="label-description" data-content="OK"></div>
                                    </label>
                                    <input type="radio" name="Rating" id="st2" value="2">
                                    <label for="st2">
                                        <div class="star-stroke">
                                            <div class="star-fill"></div>
                                        </div>
                                        <div class="label-description" data-content="Bad"></div>
                                    </label>
                                    <input type="radio" name="Rating" id="st1" value="1">
                                    <label for="st1">
                                        <div class="star-stroke">
                                            <div class="star-fill"></div>
                                        </div>

                                        <div class="label-description" data-content="Terrible"></div>
                                    </label>
                                </div>
                            </div>
                            
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

