@using _301153142_301137955_Soto_Ko_Lab3.Enums
@model _301153142_301137955_Soto_Ko_Lab3.Models.Movie.IndexViewModel

@{
}

<div class="text-center">
    <h1 class="display-4">Search Movies!</h1>

    <form method="get" action="/movie"> 
        <label>Genre </label>
        <select asp-for="Genre"name="genre">
            @foreach (MovieGenre genre in Enum.GetValues(typeof(MovieGenre)))
            {
                <option value="@genre">@MovieGenreExtension.EnumToReadableString(genre)</option>
            }
            <option selected="selected" value="">Please select</option>
        </select>
        <label>Min Rate </label>
        <input type="number" min=0 max=5 name="minRate"/>
         <label>Max Rate </label>
        <input type="number" min=0 max=5 name="maxRate"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
    <table class="movie-list-table">
        <thead>
            <tr>
                <th style="width: 20%;"></th>
                <th style="width: 25%;">Title</th>
                <th style="width: 35%;">Genre</th>
                <th style="width: 10%;">Average Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td style="width: 20%;"><img class="thumbnail-img" src="data:@movie.ThumbnailContentType;base64,@movie.ThumbnailBase64" alt="Image"></td>
                    <td style="width: 25%;"><a asp-action="Details" asp-route-movieId="@movie.MovieId.Substring(6)">@movie.Title</a></td>
                    <td style="width: 35%;">@movie.Genre</td>
                    <td style="width: 10%;">@movie.AvgRating</td>
                </tr>
            }
        </tbody>
    </table>
</div>