@model IndexViewModel

<div class="text-center">
    <h1 class="display-4">Search Movies!</h1>

    <form method="get" action="/movie"> 
        <label>Genre </label>
        <select asp-for="Genre"name="genre">
            @foreach (MovieGenre genre in Enum.GetValues(typeof(MovieGenre)))
            {
                <option value="@genre">@MovieGenreExtension.EnumToReadableString(genre)</option>
            }
            <option selected="selected" value="">Please select</option>
        </select>
        <label>Min Rate </label>
        <input type="number" min=0 max=5 name="minRate"/>
         <label>Max Rate </label>
        <input type="number" min=0 max=5 name="maxRate"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
    <table class="movie-list-table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Genre</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td><img class="thumbnail-img" src="data:@movie.ThumbnailContentType;base64,@movie.ThumbnailBase64" alt="Thumbnail"></td>
                    <td><a asp-action="Details" asp-route-movieId="@movie.MovieId.Substring(6)">@movie.Title</a></td>
                    <td>@movie.Genre</td>
                    <td>
                        <!-- Display Stars -->
                        <div class="star-container-display-index">
                            <div class="container__items">
                                @for (int j = 5; j >= 1; j--)
                                {
                                    <input type="radio" name="Rating_@(movie.MovieId)" id="st@(j)_@(movie.MovieId)" @(j == (int)Math.Round(movie.AvgRating) ? "checked" : "")>
                                    <div class="star-stroke">
                                        <div class="star-fill"></div>
                                    </div>
                                }
                            </div>
                        </div>

                        <p>@movie.AvgRating</p>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>