@using _301153142_301137955_Soto_Ko_Lab3.Enums
@model _301153142_301137955_Soto_Ko_Lab3.Models.Movie.IndexViewModel

@{
}

<div class="text-center">
    <h1 class="display-4">Search Movies!</h1>

    <form method="get" action="/movie"> 
        <label>Genre </label>
        <select asp-for="Genre"name="genre">
            @foreach (MovieGenre genre in Enum.GetValues(typeof(MovieGenre)))
            {
                <option value="@genre">@MovieGenreExtension.EnumToReadableString(genre)</option>
            }
            <option selected="selected" value="">Please select</option>
        </select>
        <label>Min Rate </label>
        <input type="number" min=0 max=10 name="minRate"/>
         <label>Max Rate </label>
        <input type="number" min=0 max=10 name="maxRate"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
    <table width=100%>
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td><a asp-action="Details" asp-route-movieId="@movie.MovieId.Substring(6)" >@movie.Title</a></td>
                    <td>@movie.Genre</td>
                    <td>@movie.AvgRating</td>
                </tr>
            }
        </tbody>
    </table>
</div>