@model UserMoviesViewModel

<h2>Your Uploaded Movies</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="success-banner" id="successBanner">
        @TempData["SuccessMessage"]
        <button class="close-btn" onclick="closeBanner('successBanner')">x</button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="error-banner" id="errorBanner">
        @TempData["ErrorMessage"]
        <button class="close-btn" onclick="closeBanner('errorBanner')">x</button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th class="text-light">Title</th>
            <th class="text-light">Genre</th>
            <th class="text-light">Director(s)</th>
            <th class="text-light">Released Date</th>
            <th class="text-light"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td class="text-light">@movie.Title</td>
                <td class="text-light">@movie.Genre</td>
                <td class="text-light">@string.Join(", ", movie.Directors)</td>
                <td class="text-light">@movie.ReleasedDate</td>
                <td>
                    <a href="@Url.Action("Details", "Movie", new { movieId = movie.MovieId.Substring(6) })" class="btn btn-primary">Details</a>

                    <form method="post" asp-controller="Movie" asp-action="UpdateMovie" asp-route-movieId="@movie.MovieId.Substring(6)" style="display:inline;">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>

                    <form method="post" asp-controller="Movie" asp-action="DeleteMovie" asp-route-movieId="@movie.MovieId.Substring(6)" style="display:inline;">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
